f#header {
  height: 88px;
  background: #fff;
}

.xd {
  width: 100%;
  height: 88px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}
.nav{
    position: fixed;
    height: 100%;
    width: 37px;
    /*z-index: 9999;*/
    top: 0;
    right: 0;
    padding-top: 120px;
    background: #202020;
}
.nav a{
    display:block;
    width: 30px;
    /*height: 30px;*/
    border-radius: 50%;
    margin-left: 5px;
    cursor:pointer;
}
.nav a img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.nav ul{
    height: 500px;
    width: 37px;
    margin-top: 20px;


}
.nav ul li a{
    display:block;
    width: 24px;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    padding:10px 0 10px 5px;
    text-align: center;
    cursor:pointer;
    box-sizing: border-box;
}
.nav ul li:hover{
    background: #FE4465;
}
.nav div{
    width: 37px;
    height: 50px;
    font-size: 14px;
    line-height: 16px;
    position:absolute;
    bottom:140px;
    right:0;
    color:#fff;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
    cursor:pointer;
    display:none;
}
.nav div:hover{
    background: #FE4465;
}
.header {
  height: 88px;
  background: #FEFEFE;
}
.header .logo {
  height: 64px;
  width: 140px;
  background: #FEFEFE;
  padding: 24px 0 0 0;
  margin-right: 126px;
  float: left;
  cursor: pointer;
}
.header .logo a {
  display: block;
  width: 140px;
  height: 40px;
}
.header .logo a img {
  width: 140px;
  height: 40px;
}
.header .search {
  height: 58px;
  width: 750px;
  background: #FEFEFE;
  border-radius: 10px;
  float: left;
  margin-top: 15px;
  border: 1px solid #FB4463;
}
.header .search .s1 {
  width: 80px;
  height: 58px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  float: left;
  margin-right: 13px;
}
.header .search .s1:hover ul {
  display: block;
}
.header .search .s1 p {
  font-size: 14px;
  height: 58px;
  line-height: 58px;
  text-align: center;
  color: #F64E5F;
}
.header .search .s1 i {
  display: block;
  height: 6px;
  width: 11px;
  background: url(https://s10.mogucdn.com/mlcdn/c45406/181031_50c0gecb4a2i55i95i8eeehe071cc_18x10.png) no-repeat -3px -3px;
  position: absolute;
  right: 3px;
  top: 47%;
}
.header .search .s1 ul {
  width: 80px;
  display: none;
}
.header .search .s1 ul a {
  display: block;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  background: #fff;
  color: #F64E5F;
  cursor: pointer;
}
.header .search input {
  width: 590px;
  height: 58px;
  background: #FEFEFE;
  float: left;
}
.header .search .s2 {
  height: 58px;
  width: 67px;
  border-radius: 0 10px 10px 0;
  float: left;
}
.header .search .s2 img {
  height: 58px;
  width: 67px;
  border-radius: 0 10px 10px 0;
}
.header .picture {
  height: 58px;
  width: 200px;
  margin-top: 15px;
  margin-left: 80px;
  background: #FEFEFE;
  float: left;
}
.header .picture li {
  float: left;
  margin-right: 43px;
}
.header .picture li a {
  display: block;
  height: 58px;
}
.header .picture li a i {
  width: 30px;
  height: 30px;
  display: block;
  margin-top: 5px;
}
.header .picture li a i img {
  height: 30px;
}
.header .picture li a span {
  display: block;
  height: 14px;
  font-size: 14px;
  margin-top: 5px;
  color: #000;
  text-align: center;
}
.header .picture li:nth-child(3) {
  margin-right: 0;
}
.header .login {
  display: block;
  margin-left: 60px;
  height: 38px;
  background: #FEFEFE;
  float: left;
  margin-top: 29px;
}
.header .login img {
  width: 38px;
  height: 38px;
  float: left;
}
.header .login .denglu {
  height: 38px;
  line-height: 38px;
  font-size: 18px;
  color: #000;
  float: left;
  margin-left: 10px;
  text-align: center;
}
.header .down {
  display: block;
  height: 38px;
  width: 40px;
  font-size: 18px;
  line-height: 38px;
  text-align: center;
  color: #000;
  float: right;
  margin-top: 29px;
}
#liucheng{
    height: 51px;
    margin-top: 28px;
}
.liucheng{
    height: 51px;
}
.liucheng img{
    height: 51px;
    width: 626px;
    float: right;
}
#jiesuan{
    /*height: 423px;*/
    background: #fff;
}
.jiesuan{
    /*height: 423px;*/
    background: #fff;
}
.jiesuan .j1{
    height: 48px;
    margin-top: 50px;
    background: #fff;  
}
.jiesuan .j1 li{
    float: left;
}
.jiesuan .j1 li a{
    height: 48px;
    font-size: 24px;
    line-height: 48px;
    text-align: center;
    color:#000;
    margin-right: 30px;
}
.jiesuan .j1 .jl1 a{
    border-bottom: 4px solid #FE5572;
    color:#FE5572;
}
.jiesuan {
  background: #f2f2f2;
}

.jiesuan .cart {
  background-color: #fff;
  /*width: 1500px;*/
  table-layout: fixed;
  position: relative;
}

.jiesuan .cart thead {
  border-bottom: 1px solid #eee;
}

.jiesuan .cart thead tr {
  position: relative;
  padding-left: 10px;
  text-align: left;
  width: 201px;
  height: 63px;
  background: #f6f6f6;
  border:1px solid #ccc;
  box-sizing: border-box;
}

.jiesuan .cart thead tr th {
  font-weight: 400;
  color: #666666;
  font-size: 16px;
  text-align: center;
}

.jiesuan .cart thead tr .toubu {
  font-weight: 400;
  color: #666666;
  font-size: 16px;
  width: 102px;
}

.jiesuan .cart thead tr .toubu #gouxuan {
  height: 13px;
  width: 20px;
  box-shadow: none;
}

.jiesuan .cart thead tr .toubu label {
  font-weight: 400;
  color: #666666;
  font-size: 14px;
}
.jiesuan .cart thead tr .second{
    width: 678px;
}
.jiesuan .cart thead tr .spmc {
  width: 215px;
  text-align: center;
}
.jiesuan .cart .byxuan{
  min-height: 0;
  overflow-y: auto;
}
.jiesuan .cart .byxuan .tr1{
    border:1px solid #ccc;
    height: 144px;
}
.jiesuan .cart .byxuan .tr1 td {
  line-height: normal;
  padding: 0;
  vertical-align: top;
  text-align: center;
}
.jiesuan .cart .byxuan .dianpu{
    height: 80px;
    width: 500px;
    line-height: 20px;
    
}
.jiesuan .cart .byxuan .dianpu .quanxuan{
    float: left;
    height: 20px;
    margin-left: 20px;

}
.jiesuan .cart .byxuan .dianpu div{
    float: left;
    width: 200px;
    height: 20px;
    margin-left: 10px;
}
.jiesuan .cart .byxuan .dianpu div a{
    width: 200px;
    height: 20px;
    color:#000;
    display:block;
}
.jiesuan .cart .byxuan .tr1 .cjw .chk {
  display: inline-block;
  vertical-align: top;
  padding-top: 24px;
  padding-left: 10px;
}

.jiesuan .cart .byxuan .tr1 .cjw .chk .gouxuan2 {
  height: 13px;
  width: 20px;
  box-shadow: none;
}
.jiesuan .cart .byxuan .tr1 .cjw2 {
  padding-top: 18px;
}
.jiesuan .cart .byxuan .tr1 .cjw2 a{
    width: 100px;
    height: 100px;
    display:block;
    float: left;
}
.jiesuan .cart .byxuan .tr1 .cjw2 a img{
    width: 100%;
}
.jiesuan .cart .byxuan .tr1 .cjw2 div {
  display: block;
  float: left;
}

.jiesuan .cart .byxuan .tr1 .cjw2 div a {
  color: #666;
  font-size: 18px;
  width: 390px;
  line-height: 30px;
  text-decoration: none;
}
.jiesuan .cart .byxuan .tr1 .cj{
    padding-top: 40px;
}
.jiesuan .cart .byxuan .tr1 .cj p{
    font-size: 14px;
    line-height: 26px;
    text-align: center;
}
.jiesuan .cart .byxuan .tr1 .cjw3 {
  padding-top: 40px;
}

.jiesuan .cart .byxuan .tr1 .cjw4 {
  line-height: normal;
  padding: 0;
  vertical-align: top;
  text-align: center;
  padding-top: 40px;
}

.jiesuan .cart .byxuan .tr1 .cjw4 .jiajian {
  width: 74px;
  margin: 0 auto;
  overflow: hidden;
}

.jiesuan .cart .byxuan .tr1 .cjw4 .jiajian .btn_d {
  float: left;
  width: 20px;
  height: 21px;
  overflow: hidden;
  background: #f4f6f5;
  text-align: center;
  font: 14px/22px simsun,serif;
  color: #666666;
  vertical-align: middle;
  text-decoration: none;
}

.jiesuan .cart .byxuan .tr1 .cjw4 .jiajian .sla {
  float: left;
  width: 30px;
  height: 19px;
  line-height: 19px;
  border-width: 1px 0;
  border-style: solid;
  border-color: #e9e9e9;
  text-align: center;
  padding: 0;
  margin: 0;
}

.jiesuan .cart .byxuan .tr1 .cjw4 .jiajian .btn_a {
  float: left;
  width: 20px;
  height: 21px;
  overflow: hidden;
  background: #f4f6f5;
  text-align: center;
  font: 14px/22px simsun,serif;
  color: #666666;
  vertical-align: middle;
  text-decoration: none;
}

.jiesuan .cart .byxuan .tr1 .cjw5 {
  color: #ec3e7d;
  padding-top: 40px;
}

.jiesuan .cart .byxuan .tr1 .cjw6 {
  padding-top: 40px;
}

.jiesuan .cart .byxuan .tr1 .cjw6 .shanchu {
  color: #666666;
  vertical-align: middle;
  text-decoration: none;
}
.jiesuan .nike {
  height: 67px;
  background: #fff;
  border:1px solid #ccc;
  box-sizing: border-box;
  margin-top: 20px;
}

.jiesuan .nike div {
  float: left;
}

.jiesuan .nike .he1 a {
  margin-left: 20px;
  text-decoration: none;
  margin-right: 20px;
  text-align: center;
  color: #565d67;
  line-height: 67px;
}

.jiesuan .nike .he1 a:hover {
  color: #58bc58;
}
.jiesuan .nike .he a:hover {
  color: red;
}
.jiesuan .nike .he2 .clearall {
  text-decoration: none;
  color: #565d67;
  line-height: 67px;
}

.jiesuan .nike .he2 .clearall:hover {
  color: red;
}

.jiesuan .nike .ads {
  float: right;
}

.jiesuan .nike .ads .he3 {
  float: left;

}

.jiesuan .nike .ads .he3 span {
  line-height: 67px;
}

.jiesuan .nike .ads .he3 span .choub {
  color: #db3f7e;
  margin-left: 5px;
  font-size: 16px;
  margin-right: 5px;
}

.jiesuan .nike .ads .he4 {
  float: left;
  width: 200px;
}

.jiesuan .nike .ads .he4 span {
  line-height: 67px;
  margin-left: 20px;
}

.jiesuan .nike .ads .he4 .nimab {
  color: #db3f7e;
  margin-left: 8px;
  font-size: 16px;
  width: 30px;
}

.jiesuan .nike .ads .he5 {
  float: left;
}

.jiesuan .nike .ads .he5 a {
  text-align: center;
  display: block;
  width: 110px;
  height: 67px;
  line-height: 67px;
  text-decoration: none;
  color: #FFF;
  margin-left: 20px;
  background-color: #fa3778;
}
#footer{
    /*height: 565px;*/
    margin-top: 50px;
}

#footer img{
    height: 565px;
    width: 100%;  
}