#header {
  height: 88px;
  background: #fff;
}

.xd {
  width: 100%;
  height: 88px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}
.nav{
    position: fixed;
    height: 100%;
    width: 37px;
    /*z-index: 9999;*/
    top: 0;
    right: 0;
    padding-top: 120px;
    background: #202020;
}
.nav a{
    display:block;
    width: 30px;
    /*height: 30px;*/
    border-radius: 50%;
    margin-left: 5px;
    cursor:pointer;
}
.nav a img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.nav ul{
    height: 500px;
    width: 37px;
    margin-top: 20px;


}
.nav ul li a{
    display:block;
    width: 24px;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    padding:10px 0 10px 5px;
    text-align: center;
    cursor:pointer;
    box-sizing: border-box;
}
.nav ul li:hover{
    background: #FE4465;
}
.nav div{
    width: 37px;
    height: 50px;
    font-size: 14px;
    line-height: 16px;
    position:absolute;
    bottom:140px;
    right:0;
    color:#fff;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
    cursor:pointer;
    display:none;
}
.nav div:hover{
    background: #FE4465;
}
.header {
  height: 88px;
  background: #FEFEFE;
}
.header .logo {
  height: 64px;
  width: 140px;
  background: #FEFEFE;
  padding: 24px 0 0 0;
  margin-right: 126px;
  float: left;
  cursor: pointer;
}
.header .logo a {
  display: block;
  width: 140px;
  height: 40px;
}
.header .logo a img {
  width: 140px;
  height: 40px;
}
.header .search {
  height: 58px;
  width: 750px;
  background: #FEFEFE;
  border-radius: 10px;
  float: left;
  margin-top: 15px;
  border: 1px solid #FB4463;
}
.header .search .s1 {
  width: 80px;
  height: 58px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  float: left;
  margin-right: 13px;
}
.header .search .s1:hover ul {
  display: block;
}
.header .search .s1 p {
  font-size: 14px;
  height: 58px;
  line-height: 58px;
  text-align: center;
  color: #F64E5F;
}
.header .search .s1 i {
  display: block;
  height: 6px;
  width: 11px;
  background: url(https://s10.mogucdn.com/mlcdn/c45406/181031_50c0gecb4a2i55i95i8eeehe071cc_18x10.png) no-repeat -3px -3px;
  position: absolute;
  right: 3px;
  top: 47%;
}
.header .search .s1 ul {
  width: 80px;
  display: none;
}
.header .search .s1 ul a {
  display: block;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  background: #fff;
  color: #F64E5F;
  cursor: pointer;
}
.header .search input {
  width: 590px;
  height: 58px;
  background: #FEFEFE;
  float: left;
}
.header .search .s2 {
  height: 58px;
  width: 67px;
  border-radius: 0 10px 10px 0;
  float: left;
}
.header .search .s2 img {
  height: 58px;
  width: 67px;
  border-radius: 0 10px 10px 0;
}
.header .picture {
  height: 58px;
  width: 200px;
  margin-top: 15px;
  margin-left: 80px;
  background: #FEFEFE;
  float: left;
}
.header .picture li {
  float: left;
  margin-right: 43px;
}
.header .picture li a {
  display: block;
  height: 58px;
}
.header .picture li a i {
  width: 30px;
  height: 30px;
  display: block;
  margin-top: 5px;
}
.header .picture li a i img {
  height: 30px;
}
.header .picture li a span {
  display: block;
  height: 14px;
  font-size: 14px;
  margin-top: 5px;
  color: #000;
  text-align: center;
}
.header .picture li:nth-child(3) {
  margin-right: 0;
}
.header .login {
  display: block;
  margin-left: 60px;
  height: 38px;
  background: #FEFEFE;
  float: left;
  margin-top: 29px;
}
.header .login img {
  width: 38px;
  height: 38px;
  float: left;
}
.header .login .denglu {
  height: 38px;
  line-height: 38px;
  font-size: 18px;
  color: #000;
  float: left;
  margin-left: 10px;
  text-align: center;
}
.header .down {
  display: block;
  height: 38px;
  width: 40px;
  font-size: 18px;
  line-height: 38px;
  text-align: center;
  color: #000;
  float: right;
  margin-top: 29px;
}
#list{
    height: 400px;
    background: #fff;
    margin-top: 50px;
    margin-bottom: 30px;
}
.list{
    height: 400px;
    /*background: orange;*/
    border:1px solid #ccc;
}
.list .biao{
    height: 50px;
    background: #F9F9F9;
    border-bottom:1px solid #ccc;
    padding-left: 20px;
    box-sizing: border-box;
}
.list .biao li{
    float: left;
    
}
.list .biao li a{
    width: 83px;
    height: 50px;
    display:block;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
    color:#000;
}
.list .biao li:nth-child(1) a{
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-top: 3px solid red;
    box-sizing: border-box;
    height: 48px;
    background: #FEFEFE;
}
.list .ad{
    height: 300px;
    padding:25px 0;
}    
.list .ad .d1{
    width: 1197px;
    height: 300px;
    border-right: 1px dashed #DFDFDF;
    padding:15px 0 10px 3px;
    box-sizing: border-box;
    background: #fff;
    float: left;
}
.list .ad .d1 .ul{
    width: 540px;
    height: 117px;
    float: left;
    margin-left: 35px;
    margin-bottom: 40px;
}
.list .ad .d1 .ul:nth-child(3){
    margin-bottom:0;
}
.list .ad .d1 .ul:nth-child(4){
    margin-bottom:0;
}
.list .ad .d1 .ul h3{
    height: 18px;
    line-height: 18px;
    margin-bottom: 14px;
}
.list .ad .d1 .ul div{
    height: 85px;
    width: 85px;
    border:1px solid #ccc;
    box-sizing: border-box;
    float: left;
}
.list .ad .d1 .ul div img{
    width: 100%;
}
.list .ad .d1 .ul ul{
    height: 85px;
    width: 455px;
    float: left;
}
.list .ad .d1 .ul ul li{
    height: 14px;
    float: left;
    padding:5px 0 ;
    margin-bottom: 5px;
}
.list .ad .d1 .ul ul li a{
    display:block;
    height: 14px;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    border-right: 1px solid #ccc;
    padding:0 20px;
    color:#000;
}
.list .ad .d1 .ul ul li:hover a{
    text-decoration:underline;
}
.list .ad .d2{
    height: 300px;
    width: 250px;
    float: left;
    padding:0 27px 0 25px;
}
.list .ad .d2 img{
    width: 100%;
    border-radius: 25px;
}
#main{
   /*height: 10000px;*/
   background: #fff; 
}
.main{
    /*height: 10000px;*/
    /*background: #fff;*/
    overflow:hidden;
}
.main h2{
    height: 56px;
    font-size: 28px;
    line-height: 56px;
    color:#000;
}
.main div{
    height: 50px;
    box-sizing: border-box;
    border:1px solid #ccc;
    padding:10px 30px;
}
.main div input{
    border:1px solid #ccc;
    height: 30px;
    width: 60px;
    box-sizing: border-box;
    font-size: 14px;
    background: #fff;
}
.main .content{
    /*background: pink;*/
    width:1530px;
}
.main .content li{
    width: 275px;
    height: 467px;
    border:1px solid #ccc;
    box-sizing: border-box;
    float: left;
    background: #fff;
    margin-right: 31px;
    margin-top: 38px;
    cursor:pointer;
}
.main .content li:hover{
  border:1px solid #f57;
}
.main .content li img{
    width: 100%;
}
.main .content li p{
    height: 52px;
    font-size: 18px;
    line-height: 26px;
    margin-top: 6px;
    overflow:hidden;
    margin-bottom: 4px;
}
.main .content li div{
    height: 20px;
    border:none;
    padding:0;
}
.main .content li div span{
    display:block;
    height: 20px;
    font-size: 18px;
    line-height: 20px;
    float: left;
}
.main .content li div span:nth-child(2){
    font-size: 14px;
    color:#716660;
    margin-left: 10px;
}
.main .content li div span i{
    display:block;
    height: 20px;
    width: 20px;
    background: url(../images/xingxing.png) no-repeat 0 0;
    float: left;
    margin-right: 5px;
}
.main .content li div span:nth-child(3){
    color:#9C9E9B;
    float: right;
    font-size: 12px;
    margin-right: 10px;
}
#footer{
    /*height: 565px;*/
    margin-top: 50px;
}

#footer img{
    height: 565px;
    width: 100%;  
}