#header{
    height: 120px;
    background: #fff;
}
.header{
    height: 120px;
}
.header div{
    width: 170px;
    height: 53px;
    background: url(../images/tubiao.png) no-repeat 0 0;
    margin-top: 28px;
    float: left;
}
.header div img{
    width: 170px;
    height: 53px;
}
.header p{
    margin-left: 67px;
    height: 38px;
    width: 1009px;
    border:1px solid #FEBFCA;
    background: #FEEFEA;
    font-size: 12px;
    line-height: 38px;
    float: left;
    margin-top: 40px;
    padding-left: 70px;
}
.banner{
    height: 750px;
    /*background: url(../images/banner.png) no-repeat;*/
    position:relative;
}
.banner .bg{
    height: 750px;
    width: 100%;
}
/*.banner{
    height: 750px;
    
}*/
.banner .b1{
    width: 500px;
    /*height: 436px;*/
    background: #fff;
    opacity:0.9;
    position:absolute;
    right:165px;
    top:100px;
}
.banner .b1 .d1{
    height: 63px;
    width: 444px;
    padding-left: 56px;
}
.banner .b1 .d1 div{
    height: 38px;
    width: 149px;
    float: left;
    font-size: 18px;
    padding-top: 25px;
    color:#ED6770;
    text-align: center;
    border-bottom: 3px solid #FB405F;
}
.banner .b1 .d1 div:nth-child(2){
    border-bottom:none;
    color:#000;
    margin-left:80px;
}
.banner .b1 .d1 i{
    display:block;
    width: 58px;
    height: 58px;
    background:url(../images/erweima.png) no-repeat 10px 5px;
    float: right;
    margin-top: 6px;
    margin-right: 7px;
}
.banner .text{
    height: 368px;
    width: 500px;
    border-top:1px solid #ccc;
    margin-top: 5px;
    padding-left: 55px;
    box-sizing: border-box;
}
.banner .text .baocuo{
    height: 40px;
    width: 392px;
    border:1px solid #F8C488;
    font-size: 14px;
    line-height: 40px;
    display:none;
    color:#FF1169;
    text-align: center;
    background: #FDEAE3;
    margin-top: 20px;
}
.banner .text input{
    width: 392px;
    height: 52px;
    box-sizing: border-box;
    border:1px solid #ccc;
    margin-top: 20px;
    padding-left: 15px;
    color:#826F69;
    font-size: 16px;
}
.banner .text input:nth-child(5){
    background: #FD556F;
    color:#fff;
    text-align: center;
    cursor: pointer;
    padding:0;
}
.banner .text .yanzheng{
    width: 390px;
    height: 125px;
    display:none;
}
.banner .text .yanzheng .y1{
    height: 16px;
    margin-top: 20px;
}
.banner .text .yanzheng .y1 span{
    display:block;
    float: left;
    height: 16px;
    width: 300px;
    font-size: 16px;
    line-height: 16px; 
}
.banner .text .yanzheng .y1 i{
    display:block;
    height: 16px;
    width: 50px;
    float: right;
    font-size: 16px;
    line-height: 16px;
    text-decoration: underline;
    margin:0;
    cursor:pointer;
}
.banner .text .yanzheng ul{
    height: 110px;
    margin-top: 14px;
}
.banner .text .yanzheng ul li{
    float: left;
    width: 95px;
    height: 95px;
    margin-right: 3px;
    background: #ccc;
    cursor:pointer;
}
.banner .text .yanzheng ul li:nth-child(4){
    margin:0;
}
.banner .text a{
    display:block;
    height: 23px;
    width: 100px;
    font-size: 16px;
    line-height: 23px;
    color:#000;
    float: left;
    margin-top: 33px;
    margin-right: 60px;
}
.banner .text a i{
    width: 23px;
    height: 23px;
    margin-right: 10px;
}
.banner .text a i img{
    width: 23px;
    height: 23px;
}
.banner .text a:nth-child(8){
    width: 90px;
    height: 23px;
    padding-left: 300px;
    text-decoration: underline;
    margin-bottom: 30px;
    color:#A48783;
}
#footer{
    /*height: 565px;*/
    width: 100%;
}
#footer img{
    height: 565px;
    width: 100%;
}